.amethyst {
  #gem {
    position: relative;
    bottom: 3%;
    width: 20rem;
    height: 28.5rem;
    display: grid;
    place-items: center;
    clip-path: ellipse(closest-side farthest-side);
    transform: scale(calc(36% * var(--gem-scale)));
    // border: solid 1px lime;

    .table {
      width: 20rem;
      height: 28.5rem;
      background: #d986e2;
      clip-path: polygon(50% 16%,
          72% 30%,
          77% 50.5%,
          72% 71%,
          50% 85%,
          28% 71%,
          23% 50.5%,
          28% 30%);

      &-effect {
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: #fff;
        opacity: 0;
        z-index: 30;
        animation: 2s linear 2s infinite glisten;
      }
    }

    .facade {
      position: absolute;
      inset: 0;
      width: inherit;
      height: inherit;
    }

    .left-qua {
      clip-path: polygon(23% 50%, 20% 36%, 0% 50%, 20% 64%);
      background-color: #b554ba;
    }

    .right-qua {
      clip-path: polygon(23% 50%, 20% 36%, 0% 50%, 20% 64%);
      background-color: #b251bc;
      transform: rotateY(180deg);
    }

    .lt-tri-1 {
      clip-path: polygon(23% 50%, 20% 36%, 28% 30%);
      background-color: #e0a9ed;
    }

    .rt-tri-1 {
      clip-path: polygon(23% 50%, 20% 36%, 28% 30%);
      background-color: #fac8fd;
      transform: rotateY(180deg);
    }

    .rb-tri-1 {
      clip-path: polygon(23% 50%, 20% 36%, 28% 30%);
      background-color: #f7c0ef;
      transform: rotateY(180deg) rotateX(180deg);
    }

    .lb-tri-1 {
      clip-path: polygon(23% 50%, 20% 36%, 28% 30%);
      background-color: #faf6f8;
      transform: rotateX(180deg);
    }

    .lt-tri-2 {
      clip-path: polygon(50% 16%, 28% 30%, 32% 14%);
      background-color: #d64594;
    }

    .rt-tri-2 {
      clip-path: polygon(50% 16%, 28% 30%, 32% 14%);
      background-color: #e45fbf;
      transform: rotateY(180deg);
    }

    .rb-tri-2 {
      clip-path: polygon(50% 16%, 28% 30%, 32% 14%);
      background-color: #f5e1f8;
      transform: rotateY(180deg) rotateX(180deg);
    }

    .lb-tri-2 {
      clip-path: polygon(50% 16%, 28% 30%, 32% 14%);
      background-color: #edbff0;
      transform: rotateX(180deg);
    }

    .lt-tri-3 {
      clip-path: polygon(50% 16%, 50% 0, 32% 14%);
      background-color: #8f2794;
    }

    .rt-tri-3 {
      clip-path: polygon(50% 16%, 50% 0, 32% 14%);
      background-color: #e4a0c1;
      transform: rotateY(180deg);
    }

    .rb-tri-3 {
      clip-path: polygon(50% 16%, 50% 0, 32% 14%);
      background-color: #934abe;
      transform: rotateY(180deg) rotateX(180deg);
    }

    .lb-tri-3 {
      clip-path: polygon(50% 16%, 50% 0, 32% 14%);
      background-color: #c3245f;
      transform: rotateX(180deg);
    }

    .lt-tri-4 {
      clip-path: polygon(16% 0, 50% 0, 32% 14%);
      background-color: #c82491;
    }

    .rt-tri-4 {
      clip-path: polygon(16% 0, 50% 0, 32% 14%);
      background-color: #852b8f;
      transform: rotateY(180deg);
    }

    .rb-tri-4 {
      clip-path: polygon(16% 0, 50% 0, 32% 14%);
      background-color: #ea3f40;
      transform: rotateY(180deg) rotateX(180deg);
    }

    .lb-tri-4 {
      clip-path: polygon(16% 0, 50% 0, 32% 14%);
      background-color: #b64dc0;
      transform: rotateX(180deg);
    }

    .lt-tri-5 {
      clip-path: polygon(16% 0, 32% 14%, 8% 16%);
      background-color: #d3309c;
    }

    .rt-tri-5 {
      clip-path: polygon(16% 0, 32% 14%, 8% 16%);
      background-color: #c436cf;
      transform: rotateY(180deg);
    }

    .rb-tri-5 {
      clip-path: polygon(16% 0, 32% 14%, 8% 16%);
      background-color: #901749;
      transform: rotateY(180deg) rotateX(180deg);
    }

    .lb-tri-5 {
      clip-path: polygon(16% 0, 32% 14%, 8% 16%);
      background-color: #a22eac;
      transform: rotateX(180deg);
    }

    .lt-tri-6 {
      clip-path: polygon(32% 14%, 14% 15%, 20% 36%, 28% 30%);
      background-color: #c652d1;
    }

    .rt-tri-6 {
      clip-path: polygon(32% 14%, 14% 15%, 20% 36%, 28% 30%);
      background-color: #962da3;
      transform: rotateY(180deg);
    }

    .rb-tri-6 {
      clip-path: polygon(32% 14%, 14% 15%, 20% 36%, 28% 30%);
      background-color: #9362fe;
      transform: rotateY(180deg) rotateX(180deg);
    }

    .lb-tri-6 {
      clip-path: polygon(32% 14%, 14% 15%, 20% 36%, 28% 30%);
      background-color: #ab49b6;
      transform: rotateX(180deg);
    }

    .lt-tri-7 {
      clip-path: polygon(14% 15%, 20% 36%, 0% 32%);
      background-color: #c63193;
    }

    .rt-tri-7 {
      clip-path: polygon(14% 15%, 20% 36%, 0% 32%);
      background-color: #a93eb1;
      transform: rotateY(180deg);
    }

    .rb-tri-7 {
      clip-path: polygon(14% 15%, 20% 36%, 0% 32%);
      background-color: #623d86;
      transform: rotateY(180deg) rotateX(180deg);
    }

    .lb-tri-7 {
      clip-path: polygon(14% 15%, 20% 36%, 0% 32%);
      background-color: #d157d8;
      transform: rotateX(180deg);
    }

    .lt-tri-8 {
      clip-path: polygon(0 50%, 20% 36%, 0% 32%);
      background-color: #dc65b6;
    }

    .rt-tri-8 {
      clip-path: polygon(0 50%, 20% 36%, 0% 32%);
      background-color: #e03b82;
      transform: rotateY(180deg);
    }

    .rb-tri-8 {
      clip-path: polygon(0 50%, 20% 36%, 0% 32%);
      background-color: #7d2e92;
      transform: rotateY(180deg) rotateX(180deg);
    }

    .lb-tri-8 {
      clip-path: polygon(0 50%, 20% 36%, 0% 32%);
      background-color: #93189f;
      transform: rotateX(180deg);
    }

    .effect-group {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      // border: solid 1px lime;

      .effect {
        position: absolute;
        max-width: 5rem;
        max-height: 5rem;
        transform-origin: center;

        &-1 {
          top: 7%;
          left: 37%;
          animation: 1s linear 0s infinite alternate sparkle;
        }

        &-2 {
          top: 41%;
          right: 10%;
          animation: 1s linear 0.2s infinite alternate sparkle;
        }

        &-3 {
          bottom: 41%;
          left: 10%;
          animation: 1s linear 0.6s infinite alternate sparkle;
        }

        &-4 {
          top: 21%;
          left: 15%;
          animation: 1s linear 0.8s infinite alternate sparkle;
        }

        &-5 {
          bottom: 21%;
          right: 15%;
          animation: 1s linear 0.5s infinite alternate sparkle;
        }

        &-6 {
          bottom: 7%;
          left: 38%;
          animation: 1s linear 0.2s infinite alternate sparkle;
          // border: solid red 1px;
        }
      }
    }
  }
}