.diamond {
  #gem {
    position: relative;
    width: 20rem;
    height: 20rem;
    display: grid;
    place-items: center;
    transform: scale(64%);

    .table {
      width: 10rem;
      height: 10rem;
      background-image: linear-gradient(150deg, #44405b, #fff 40%, #fff);
      clip-path: polygon(50% 12.2%,
          72% 20%,
          82% 36%,
          72% 52%,
          50% 60%,
          28% 52%,
          18% 36%,
          28% 20%,
          50% 12.2%);

      &-effect {
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: #fff;
        opacity: 0;
        animation: 2s linear 2s infinite glisten;
      }
    }

    .triangle {
      position: absolute;
      width: 8rem;
      height: 8rem;

      &-1 {
        clip-path: polygon(50% 0, 77% 30%, 23% 30%);
        bottom: 1rem;
        left: 6rem;
        background-image: linear-gradient(to top, #44405b, #fff 80%, #fff);
      }

      &-2 {
        clip-path: polygon(75% 30%, 25% 30%, 50% 80%);
        left: 6rem;
        bottom: 1rem;
        background-color: white;
      }

      &-3 {
        clip-path: polygon(77% 30%, 23% 30%, 50% 80%);
        bottom: 1rem;
        left: 6rem;
        background-image: linear-gradient(210deg, #44405b, #fff 60%, #fff);
      }

      &-4 {
        clip-path: polygon(23% 2.2%, 50% 12%, 23% 42%);
        bottom: calc(2rem - 0.5px);
        left: 6rem;
        background-image: linear-gradient(to left, #44405b, #fff 80%, #fff);
      }

      &-5 {
        clip-path: polygon(23% 2.2%, 50% 12%, 23% 42%);
        bottom: calc(2rem - 0.5px);
        left: 6rem;
        transform: rotateY(180deg);
        background-image: linear-gradient(to right, #44405b, #fff 90%, #fff);
      }

      &-6 {
        clip-path: polygon(100% 0, 100% 40%, 65% 21%);
        bottom: 1.8rem;
        left: -2px;
        background-image: linear-gradient(to right, #44405b, #44405b 1%, #fff);
      }

      &-14 {
        clip-path: polygon(100% 0, 100% 40%, 65% 21%);
        bottom: 1.8rem;
        right: -2px;
        transform: rotateY(180deg);
        background-image: linear-gradient(to right, #44405b, #fff);
      }

      &-7 {
        clip-path: polygon(38% 0, 73% 19%, 100% 69%);
        bottom: 0.1rem;
        left: 2rem;
        background-image: linear-gradient(-60deg, #44405b, #fff 60%, #fff);
      }

      &-13 {
        clip-path: polygon(38% 0, 73% 19%, 100% 69%);
        bottom: 0.1rem;
        right: 2rem;
        transform: rotateY(180deg);
        background-image: linear-gradient(150deg, #44405b, #fff 60%, #fff);
      }

      &-8 {
        clip-path: polygon(39% 100%, 74% 78.5%, 61% 58%);
        top: calc(4rem - 1px);
        left: calc(2rem - 1px);
        background-image: linear-gradient(-30deg, #44405b, #fff 40%, #fff);
      }

      &-15 {
        clip-path: polygon(39% 100%, 74% 78.5%, 61% 58%);
        top: calc(4rem - 1px);
        right: calc(2rem - 1px);
        transform: rotateY(180deg);
        background-image: linear-gradient(30deg, #44405b, #fff 60%, #fff);
      }

      &-9 {
        clip-path: polygon(39% 100%, 39% 50%, 61% 58%);
        top: calc(4rem - 2px);
        left: calc(2rem - 1px);
        background-image: linear-gradient(120deg,
            #44405b,
            #44405b 30%,
            #fff 60%,
            #fff);
      }

      &-16 {
        clip-path: polygon(39% 100%, 39% 50%, 61% 58%);
        top: calc(4rem - 2px);
        right: calc(2rem - 1px);
        transform: rotateY(180deg);
        background-image: linear-gradient(60deg, #44405b, #fff 45%, #fff);
      }

      &-10 {
        clip-path: polygon(39% 50%, 61% 59%, 73.5% 39.5%);
        top: calc(4rem - 2px);
        left: calc(2rem - 1px);
        background-image: linear-gradient(to left, #44405b, #fff 80%, #fff);
      }

      &-17 {
        clip-path: polygon(39% 50%, 61% 59%, 73.5% 39.5%);
        top: calc(4rem - 2px);
        right: calc(2rem - 1px);
        transform: rotateY(180deg);
        background-image: linear-gradient(to left, #44405b, #fff 80%, #fff);
      }

      &-11 {
        clip-path: polygon(39% 50%, 73.5% 39.5%, 72% 30%);
        top: calc(4rem - 2px);
        left: calc(2rem - 1px);
        background-image: linear-gradient(150deg, #44405b, #fff 40%, #fff);
      }

      &-18 {
        clip-path: polygon(39% 50%, 73.5% 39.5%, 72% 30%);
        top: calc(4rem - 2px);
        right: calc(2rem - 1px);
        transform: rotateY(180deg);
        background-image: linear-gradient(150deg, #44405b, #fff 40%, #fff);
      }

      &-12 {
        clip-path: polygon(73.5% 39.5%, 72% 30%, 100% 30%);
        top: calc(4rem - 2px);
        left: calc(2rem - 1px);
        background-image: linear-gradient(to left, #44405b, #fff 80%, #fff);
      }

      &-19 {
        clip-path: polygon(73.5% 39.5%, 72% 30%, 100% 30%);
        top: calc(4rem - 2px);
        right: calc(2rem - 1px);
        transform: rotateY(180deg);
        background-image: linear-gradient(to left, #44405b, #fff 80%, #fff);
      }
    }

    .effect-group {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;

      .effect {
        position: absolute;
        max-width: 4rem;
        max-height: 4rem;
        transform-origin: center;

        &-1 {
          top: 6rem;
          left: 3rem;
          animation: 1s linear 0s infinite alternate sparkle;
        }

        &-2 {
          animation: 2s ease-in 1.6s infinite spin;
          opacity: 0;
        }

        &-3 {
          top: 4.2rem;
          right: 5.5rem;
          animation: 1s linear 0s infinite alternate sparkle;
        }

        &-4 {
          top: 6rem;
          right: 3.2rem;
          animation: 1s linear 0s infinite alternate sparkle;
        }
      }
    }
  }
}