.emerald {
  #gem {
    position: relative;
    width: 20rem;
    height: 20rem;
    display: grid;
    place-items: center;
    transform: scale(calc(28% * var(--gem-scale)));
    border: var(--border-lime);

    .facade {
      position: absolute;
      width: 20rem;
      height: 30rem;
      // border: var(--border-red);
      // background: transparent !important;
    }

    .top-tri {
      background: #1e874a;
      clip-path: polygon(32% 20%, 50% 30%, 68% 20%);
    }

    .bottom-tri {
      background: #bdecdf;
      clip-path: polygon(32% 20%, 50% 30%, 68% 20%);
      transform: rotateX(180deg);
    }

    .top-qua-1 {
      background: #43986e;
      clip-path: polygon(68% 20%, 32% 20%, 26% 13%, 74% 13%);
    }

    .bottom-qua-1 {
      background: #37ae6a;
      clip-path: polygon(68% 20%, 32% 20%, 26% 13%, 74% 13%);
      transform: rotateX(180deg);
    }

    .top-qua-2 {
      background: #87b5af;
      clip-path: polygon(80% 7%, 20% 7%, 26% 13%, 74% 13%);
    }

    .bottom-qua-2 {
      background: #0d1e1b;
      clip-path: polygon(80% 7%, 20% 7%, 26% 13%, 74% 13%);
      transform: rotateX(180deg);
    }

    .top-qua-3 {
      background: #184f41;
      clip-path: polygon(86% 0, 14% 0, 20% 7%, 80% 7%);
    }

    .bottom-qua-3 {
      background-image: linear-gradient(to right, #11422d 20%, #49947f 60%);
      clip-path: polygon(86% 0, 14% 0, 20% 7%, 80% 7%);
      transform: rotateX(180deg);
    }

    .lt-tri-1 {
      background: #0c2116;
      clip-path: polygon(32% 20%, 26% 13%, 21% 17%);
    }

    .rt-tri-1 {
      background-color: #46a582;
      clip-path: polygon(32% 20%, 26% 13%, 21% 17%);
      transform: rotateY(180deg);
    }

    .rb-tri-1 {
      background: #1e603d;
      clip-path: polygon(32% 20%, 26% 13%, 21% 17%);
      transform: rotateY(180deg) rotateX(180deg);
    }

    .lb-tri-1 {
      background: #134a2c;
      clip-path: polygon(32% 20%, 26% 13%, 21% 17%);
      transform: rotateX(180deg);
    }

    .lt-tri-2 {
      background: #f1fcfd;
      clip-path: polygon(26% 13%, 21% 17%, 10% 14%, 20% 7%);
    }

    .rt-tri-2 {
      background: #2b6f57;
      clip-path: polygon(26% 13%, 21% 17%, 10% 14%, 20% 7%);
      transform: rotateY(180deg);
    }

    .rb-tri-2 {
      background: #50bc9d;
      clip-path: polygon(26% 13%, 21% 17%, 10% 14%, 20% 7%);
      transform: rotateY(180deg) rotateX(180deg);
    }

    .lb-tri-2 {
      background: #0c7a3e;
      clip-path: polygon(26% 13%, 21% 17%, 10% 14%, 20% 7%);
      transform: rotateX(180deg);
    }

    .lt-tri-3 {
      background: #88cbc4;
      clip-path: polygon(0 11%, 10% 14%, 20% 7%, 14% 0);
    }

    .rt-tri-3 {
      background: #60ba97;
      clip-path: polygon(0 11%, 10% 14%, 20% 7%, 14% 0);
      transform: rotateY(180deg);
    }

    .rb-tri-3 {
      background: #051410;
      clip-path: polygon(0 11%, 10% 14%, 20% 7%, 14% 0);
      transform: rotateY(180deg) rotateX(180deg);
    }

    .lb-tri-3 {
      background: #0a2019;
      clip-path: polygon(0 11%, 10% 14%, 20% 7%, 14% 0);
      transform: rotateX(180deg);
    }

    .left-bar-1 {
      background: #1c9047;
      clip-path: polygon(32% 20%, 50% 30%, 50% 70%, 32% 80%);
    }

    .left-bar-1-shadow {
      background-color: black;
      opacity: 0;
      clip-path: polygon(32% 20%, 50% 30%, 50% 70%, 32% 80%);
      animation: reflect 2s linear 1s alternate infinite;
    }

    .right-bar-1 {
      background: #4ec699;
      clip-path: polygon(32% 20%, 50% 30%, 50% 70%, 32% 80%);
      transform: rotateY(180deg);
    }

    .left-bar-2 {
      background-image: linear-gradient(to top, #16432e 40%, #46906f 60%);
      clip-path: polygon(32% 20%, 32% 80%, 21% 83%, 21% 17%);
    }

    .right-bar-2 {
      background: #32ac87;
      clip-path: polygon(32% 20%, 32% 80%, 21% 83%, 21% 17%);
      transform: rotateY(180deg);
    }

    .left-bar-3 {
      background: #0a251a;
      clip-path: polygon(21% 83%, 21% 17%, 10% 14%, 10% 86%);
    }

    .right-bar-3 {
      background: #09271d;
      clip-path: polygon(21% 83%, 21% 17%, 10% 14%, 10% 86%);
      transform: rotateY(180deg);
    }

    .left-bar-4 {
      background-image: linear-gradient(to bottom, #193b37 50%, #44796d 70%);
      clip-path: polygon(10% 14%, 10% 86%, 0 89%, 0 11%);
    }

    .right-bar-4 {
      background-image: linear-gradient(to bottom, #152f22 30%, #1d533c 60%);
      clip-path: polygon(10% 14%, 10% 86%, 0 89%, 0 11%);
      transform: rotateY(180deg);
    }

    .effect-group {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;

      .effect {
        position: absolute;
        max-width: 6rem;
        max-height: 6rem;
        transform-origin: center;

        &-1 {
          top: -3rem;
          left: 1rem;
          animation: 1s linear 0s infinite alternate sparkle;
        }

        &-2 {
          top: -3rem;
          right: 1rem;
          animation: 1s linear 0.7s infinite alternate sparkle;
        }

        &-3 {
          bottom: -3rem;
          left: 1rem;
          animation: 1s linear 1s infinite alternate sparkle;
        }

        &-4 {
          bottom: -3rem;
          right: 1rem;
          animation: 1s linear 0.4s infinite alternate sparkle;
        }
      }
    }
  }
}