.ruby {
  #gem {
    position: relative;
    width: 20rem;
    height: 20rem;
    display: grid;
    place-items: center;
    transform: scale(40%);

    .table {
      position: relative;
      bottom: 6%;
      width: 12rem;
      height: 12rem;
      background: linear-gradient(to bottom, #fb85b2, transparent),
        linear-gradient(45deg, #dd2281, transparent),
        linear-gradient(135deg, transparent, #ea706a);
      clip-path: polygon(50% 2%,
          92% 25%,
          92% 75%,
          50% 100%,
          8% 75%,
          8% 25%,
          50% 2%);
    }

    .table-effect {
      position: absolute;
      bottom: 16%;
      width: 16rem;
      height: 16rem;
      clip-path: polygon(50% 100%, 96% 23%, 4% 23%);
      background-color: #fff;
      z-index: 30;
      animation: 2s linear 2s infinite glisten;
    }

    .facade {
      position: absolute;
      inset: 0;
      width: 20rem;
      height: 20rem;

      &-1 {
        clip-path: polygon(50% 84%, 32% 84%, 25% 59%, 50% 74%);
        background-color: #5b0414;
      }

      &-10 {
        clip-path: polygon(50% 84%, 32% 84%, 25% 59%, 50% 74%);
        background-color: #8f0437;
        transform: rotateY(180deg);
      }

      &-2 {
        clip-path: polygon(50% 84%, 32% 84%, 50% 100%);
        background-color: #cd051d;
      }

      &-11 {
        clip-path: polygon(50% 84%, 32% 84%, 50% 100%);
        background-color: #4b0826;
        transform: rotateY(180deg);
      }

      &-3 {
        clip-path: polygon(32% 84%, 25% 59%, 16% 64%);
        background-color: #ec0050;
      }

      &-12 {
        clip-path: polygon(32% 84%, 25% 59%, 16% 64%);
        background-color: #b61316;
        transform: rotateY(180deg);
      }

      &-4 {
        clip-path: polygon(8% 40%, 25% 59%, 16% 64%);
        background-color: #ca091d;
      }

      &-13 {
        clip-path: polygon(8% 40%, 25% 59%, 16% 64%);
        background-color: #960c5e;
        transform: rotateY(180deg);
      }

      &-5 {
        clip-path: polygon(8% 40%, 25% 59%, 25% 29%, 14% 23%);
        background-color: #86081a;
      }

      &-14 {
        clip-path: polygon(8% 40%, 25% 59%, 25% 29%, 14% 23%);
        background-color: #fd395d;
        transform: rotateY(180deg);
      }

      &-6 {
        clip-path: polygon(8% 40%, 14% 23%, 2% 18%);
        background-color: #fd0a48;
      }

      &-15 {
        clip-path: polygon(8% 40%, 14% 23%, 2% 18%);
        background-color: #3d0424;
        transform: rotateY(180deg);
      }

      &-7 {
        clip-path: polygon(20% 8%, 14% 23%, 2% 18%);
        background-color: #f33b5e;
      }

      &-16 {
        clip-path: polygon(20% 8%, 14% 23%, 2% 18%);
        background-color: #651221;
        transform: rotateY(180deg);
      }

      &-8 {
        clip-path: polygon(20% 8%, 14% 23%, 25% 29%, 50% 15%);
        background-color: #620a2d;
      }

      &-17 {
        clip-path: polygon(20% 8%, 14% 23%, 25% 29%, 50% 15%);
        background-color: #cc041e;
        transform: rotateY(180deg);
      }

      &-9 {
        clip-path: polygon(20% 8%, 50% 15%, 50% 5%);
        background-color: #f93099;
      }

      &-18 {
        clip-path: polygon(20% 8%, 50% 15%, 50% 5%);
        background-color: #ec3630;
        transform: rotateY(180deg);
      }
    }

    .effect-group {
      position: absolute;
      width: inherit;
      height: inherit;

      .effect {
        position: absolute;
        max-width: 4rem;
        max-height: 4rem;
        transform-origin: center;

        &-1 {
          top: 6rem;
          left: -0.5rem;
          animation: 1s linear 0s infinite alternate sparkle;
        }

        &-2 {
          animation: 2s ease-in 1.6s infinite spin;
          opacity: 0;
        }

        &-3 {
          top: 1rem;
          left: 8rem;
          animation: 1s linear 0s infinite alternate sparkle;
        }

        &-4 {
          top: 6rem;
          right: -0.5rem;
          animation: 1s linear 0s infinite alternate sparkle;
        }
      }
    }
  }
}